@tailwind base;
@tailwind components;
@tailwind utilities;


.login-background {
    background-image: url("/images/criptomonedas.png"); /* Replace with your image path */
    background-size: cover; /* Adjust size as needed */
    background-position: center; /* Adjust position as needed */
    background-repeat: no-repeat; /* Prevent image tiling */
  }
  

body {
    padding-top: 2rem; /* Ajusta según sea necesario */
    
}
